<!DOCTYPE html>
<html>
  <head>
    <title>admin_list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      관리자 페이지 <hr />

  <hr />
      <table border="1">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>나이</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<list.length;i++){ %>
            <tr>
                <td><%= list[i].id %></td>
                <td><%= list[i].name %></td>
                <td><%= list[i].age %></td>
                <td>
                  <a href="/customer/info_list?id=<%= list[i].id %>">계약서 보기</a>
                 
                </td>
            </tr>
            <% } %>
        </tbody>
      </table>

  </body>
</html>
