<!DOCTYPE html>
<html>

<head>
  <title>list</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body></body>
<hr />
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>CA</th>
      <th>ABI</th>

    </tr>
  </thead>
  <tbody>
   
    <tr>
      <td><%= id %></td>
      <td><%= list[0].CA %></td>
      <td><%= list[0].ABI %></td>
    </tr>
    >
  </tbody>
</table>

</body>

</html>